<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="public/odontoweb-app.min.css">

	<title>OdontoWeb: Sistema para gerenciamento de clínicas odontológicas</title>
</head>
<body data-ng-app="OdontowebApp">
		
	<div id="topbar-wrapper" class="float-left">
		<div id="logo-wrapper" class="float-left">
			<div id="logo" class="float-left"></div>
			<h6 class="float-left show-for-medium">ODONTOWEB</h6>
		</div>
		<div id="clinica-wrapper" class="small-4 medium-3 columns float-left" data-ng-show="showElement()">
			<select name="clinica" id="clinicaSelected">
				<option value="Clinica Teste">Clinica Teste</option>
				<option value="Clinica Teste 2">Clinica Teste 2</option>
			</select>
		</div>
		<div id="user-wrapper" class="float-right" data-ng-controller="AuthenticationController">
			<span class="user-name float-left show-for-medium" data-ng-show="showElement()">{{userName()}}</span>
			<button type="button" class="button vermelho float-left" data-ng-click="logout()" data-ng-show="showElement()">SAIR</button>
			<button type="button" class="button azul float-left" data-ng-click="go('/login')" data-ng-show="!showElement()">ENTRAR</button>
		</div>
	</div>
	
	<div id="wrapper">
		<!-- MENU LATERAL -->
		<div id="sidebar-wrapper">
			<ul class="menu vertical">
				<li class="menu-ativo">
					<a href="#/agenda" menu-ativo>
						<i data-tooltip aria-haspopup="true" title="Agenda" class="fi-calendar medium right"></i>
						<span class="show-for-medium">Agenda</span>
					</a>
				</li>
				<li>
					<a href="#/pacientes" menu-ativo>
						<i data-tooltip aria-haspopup="true" title="Pacientes" class="fi-torsos medium right"></i>
						<span class="show-for-medium">Pacientes</span>
					</a>
				</li>
				<li>
					<a href="#/cadastros" menu-ativo>
						<i data-tooltip aria-haspopup="true" title="Cadastros" class="fi-page-add medium right"></i>
						<span class="show-for-medium">Cadastros</span>
					</a>
				</li>
				<li>
					<a href="#/configuracoes" menu-ativo>
						<i data-tooltip aria-haspopup="true" title="Configurações" class="fi-widget medium right"></i>
						<span class="show-for-medium">Configurações</span>
					</a>
				</li>
			</ul>
		</div>
		
		<!-- CONTEUDO -->
		<div id="content-wrapper" data-ng-view>
			
		</div>
	</div>

	<script src="public/odontoweb-deps.min.js"></script>
	<script src="public/odontoweb-app.min.js"></script>
</body>
</html>