<div class="row">
	<h5 class="text-center">{{title}}</h5>
</div>

<div class="row">
	<div class="small-6 small-centered columns">
		<form>
		  <div class="row">
		    <div class="small-12 columns">
		      <label>Bairro
		        <input type="text" name="nome" placeholder="ex: Centro, Moinhos"  ng-model="bairro.nome">
		      </label>
		    </div>
		    <div class="small-12 columns">
		    	<button class="button azul" ng-click="save()">CADASTRAR</button>
		    </div>
		  </div>
		</form>
	</div>
</div>
