// odontoweb fonts
// -------------------

@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:600';

// odontoweb variables
// -------------------

$base-color: #017BC1;
$secundary-color: #F7F7F7;
$background-color: #FAFBFC;
$contrast-color: #2A6692;
$font-color: #A0A0A3;
$padding: 15px;

$topbar-height: 70px;
$sidebar-width: 220px;
$sidebar-small-width: 70px;
$sidebar-color: #3F3E42;

$menu-ativo-bg-color: #656C7E;
$menu-ativo-font-color: #FFFFFF;