<div class="row">
	<h3 class="text-center">{{title}}</h3>
	<h6 class="text-center">{{subTitle}}</h6>
</div>

<div class="row">
	<ul class="cadastros-list small-6 small-centered columns">
		<li class="cadastros-list-item">
			<a href="#/cadastros/bairro">Gerenciar Cadastro de Bairros</a>
		</li>
		<li class="cadastros-list-item">
			<a href="#/cadastros/pais">Gerenciar Cadastro de Países</a>
		</li>
		<li class="cadastros-list-item">
			<a href="#/cadastros/siglas">Gerenciar Cadastro de Siglas</a>
		</li>
	</ul>
</div>